*{
    margin:0;
    padding:0;
}
body {
    background-color: black;
    color:#fafafa;
}

h1 {
    color: rgb(255, 230, 0);
}

main{
    display: inline-flex;
    padding: 0 300px 0px 300px;
}

p{
    margin: 40px 0 150px 0;
    font-size: 30px;
}
header, footer{
    height: 150px;
}
/*button{
background-color: #ffe600;
width: 500px;
height: 50px;
border-radius: 10px;
border-color: #ffe600;
margin: 25px 55px 0 0;
}*/
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
img{
    width: 500%;
    height: 100%;
}
.button1{
    background-color: #ffe600;
width: 500px;
height: 50px;
border-radius: 10px;
border-color: #ffe600;
margin: 25px 55px 0 0;
}
.button2{
    background-color: #fafafa;
width: 500px;
height:50px;
border-radius:10px;
border-color:#fafafa;
margin:25px 55px 0 0;
}